# User details
d-i passwd/user-fullname string full_name
d-i passwd/username string username
d-i passwd/user-password password password
d-i passwd/user-password-again password password

d-i user-setup/encrypt-home boolean false
d-i user-setup/allow-password-weak boolean true

# Always install the virtual kernel.
d-i base-installer/kernel/override-image string linux-virtual

# English Language
d-i debian-installer/language select English
d-i debian-installer/country select Italy
d-i debian-installer/locale string en_US.UTF-8
d-i localechooser/preferred-locale select en_US.UTF-8
d-i localechooser/supported-locales en_US.UTF-8

# Including keyboards
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string it

# Just roll with it
d-i netcfg/get_hostname string dev
d-i netcfg/get_domain string dev

d-i time/zone string Europe/Rome
d-i clock-setup/ntp boolean true

# Only ask the UTC question if there are other operating systems installed.
d-i clock-setup/utc-auto  boolean true

# Choices: Dialog, Readline, Gnome, Kde, Editor, Noninteractive
d-i debconf debconf/frontend select Noninteractive

# No language support packages.
d-i pkgsel/install-language-support boolean false

# Only install basic language packs. Let tasksel ask about tasks.
d-i pkgsel/language-pack-patterns string

# Don't even install the standard task.
tasksel tasksel/skip-tasks string standard
tasksel tasksel/first multiselect openssh-server

# Stuck between a rock and a HDD place
d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-auto/choose_recipe select atomic

d-i partman/confirm_write_new_label boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true

# Write the changes to disks and configure LVM?
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max

# No proxy
d-i mirror/http/proxy string

# No language support packages.
d-i pkgsel/install-language-support boolean false

# Individual additional packages to install
d-i pkgsel/include string build-essential ssh
d-i pkgsel/include string software-properties-common python-software-properties

# For the update
d-i pkgsel/update-policy select none

# Whether to upgrade packages after debootstrap.
# Allowed values: none, safe-upgrade, full-upgrade
d-i pkgsel/upgrade select safe-upgrade

# Verbose output and no boot splash screen.
d-i debian-installer/quiet  boolean false
d-i debian-installer/splash boolean false

# Install the debconf oem-config frontend (if in OEM mode).
d-i oem-config-udeb/frontend  string debconf

# Go grub, go!
d-i grub-installer/only_debian boolean true

d-i finish-install/reboot_in_progress note
